.caret-up {
  color: green;
}
.caret-down {
  color: red;
}
.hide {
  visibility: hidden;
}

.cell-block {
  /* display: inline-block; */
  
  width: 200px;
  margin: 20px;

  /* #c801ff #363e49 */
  border: solid #363e49 2px;
  background-color: #2d353d;
  border-radius: 5px;
  /* margin: 20px; */
  text-align: center;
}

.emphasize {
  /* color: #760092; */
  /* color: #9f00c8; */
  color: #ff814e;
  font-size: 30px;
  font-weight: 700;
}
