/* * * * * * * * * * 
  DASHBOARD PAGE STYLING
* * * * * * * * * */

#dashboard {
  // position: absolute;
  // left: 150px;
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  .cell-block {
    @include block;
    padding: 10px;
    text-align: center;

    &:hover {
      background-color: $blue_chill_ts;
      border: solid $blue_chill 1px;
      border-radius: 5px;
      color: $hvr_clr;
    }

    .emphasize {
      /* color: #760092; */
      /* color: #9f00c8; */
      // color: #ff814e;
      color: #d6f950;
      font-size: 48px;
    }
  }
}
.caret-up {
  font-size: 42px;
  color: $crt_inc;
}
.caret-down {
  font-size: 42px;
  color: $crt_dec;
}
.hide {
  visibility: hidden;
}