/* * * * * * * * * * 
  LOGIN PAGE STYLING
* * * * * * * * * */

$text_inp_ft_sz: 18px;
$text_inp_line_height: 40px;

.auth-form {
  @include block;
  width: 400px;
  height: 350px;

  #header {
    background-color: $dflt_ft_clr;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px black;

    line-height: 55px;
    height: 55px;
    margin-bottom: 10%;
  }

  /* Remove predefined styles for input */
  input {
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .text-input {
    display: flex;
    justify-content: space-between;
    margin: 35px;
    padding: 0 15px;

    border-radius: 5px;
    border: solid white 2px;
    background-color: white;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);

    input {
      width: 100%;

      font-family: $body_ft_fm;
      font-size: $text_inp_ft_sz;
      color: $primary_grey;
      line-height: $text_inp_line_height;
    }

    i {
      font-size: $text_inp_ft_sz;
      line-height: $text_inp_line_height;
    }
  }
}
