#navbar-container {
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;

  .nav-link {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
  
    text-decoration: none;
    text-align: center;
    color: $dflt_ft_clr;
    font-size: $dflt_ft_sz;

    &:hover {
      background-color: $blue_chill_ts;
      border: solid $blue_chill 1px;
      border-radius: 2px;
      color: $hvr_clr;
    }
    &:focus {
      border-left: solid $toned_dwn_yellow 4px;
      color: $hvr_clr;
    }

    i {
      font-size: 30px;
      margin-bottom: 5px;
    }
  }

  #user {
    background-color: $darkest_grey;
    padding-top: 15px;
    padding-bottom: 15px;

    &:hover {
      color: $hvr_clr;
      border: none;
    }
  }
}
