$dflt_ft_clr: #69939d;
$dflt_ft_sz: 16px;


/* FONT FAMILY */
$body_ft_fm: 'Cardo', serif;
$heading_ft_fm: 'Montserrat', sans-serif;

/* COLORS */
// $primary_grey: #202228; 
$primary_grey: #1a1b20;
$secondary_grey: #292c33;
$toned_dwn_yellow: #d6f950;

// $mid_gray: #2d353d;
// $light_gray: #363e49;
// $super_light_gray: #7b8286;

$blue_chill_ts: rgba(7, 142, 144, 0.1);
// $blue_chill: #078d90;
$blue_chill: #0ac0c4;
$emp_orange: #ff814e;

$crt_inc: green;
$crt_dec: red;

