$dflt_ft_clr: #69939d;
$dflt_ft_sz: 16px;
$hvr_clr: white;


/* FONT FAMILY */
$body_ft_fm: 'Cardo', serif; /* 'Merriweather', serif; */
$heading_ft_fm: 'Montserrat', sans-serif; /* 'Lato', sans-serif; */

/* COLORS */
$primary_grey: #1a1b20;
$secondary_grey: #292c33;
$darkest_grey: #0b0c0e;
$toned_dwn_yellow: #d6f950;

$blue_chill_ts: rgba(7, 142, 144, 0.1);
$blue_chill: #0ac0c4;
$emp_orange: #ff814e;

$crt_inc: green;
$crt_dec: red;

