@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'dashboard';
@import 'tracking';
@import 'login';

/* * * * * * * * * * 
  GENERAL STYLING FOR ENTIRE APPLICATION
* * * * * * * * * */

* {
  margin: 0;
  padding: 0;
}

body {
  @include stretch;
  background-color: $primary_grey;

  font-family: $body_ft_fm;
  color: $dflt_ft_clr;
  font-size: $dflt_ft_sz;

  /* set header font for header tags */
  h1, h2, h3, h4, h5, h6 {
    font-family: $heading_ft_fm;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100%;
    grid-gap: 35px;

    margin: 35px;
  }
}
