#navbar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;

  width: 55px;
  height: 100%;

  background-color: #363e49;
}

.nav-link {
  display: inline-block;
  width: 100%;
  padding: 15px 0;

  text-decoration: none;
  text-align: center;
  color: #7b8286;
  font-size: 20px;
}

.nav-link:hover {
  background-color: #078e903d;
  border: solid #078d90 1px;
  border-radius: 2px;
  color: white;
}

.nav-link:focus {
  color: white;
  background-color: #2a2d37;
}

